---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json/forecast.json?days=0&key=<WEATHER_API_KEY>&q=00000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - BR
      X-Weatherapi-Qpm-Left:
      - '4999943'
      Cdn-Proxyver:
      - '1.34'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - '09/01/2025 00:14:36'
      Cdn-Edgestorageid:
      - '1160'
      Cdn-Requestid:
      - 8046f4e94b03e4bac334b424e733a1bf
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '400'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":1006,"message":"No matching location found."}}'
  recorded_at: Mon, 01 Sep 2025 00:14:36 GMT
recorded_with: VCR 6.3.1
