---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json/forecast.json?days=1&key=<WEATHER_API_KEY>&q=90210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - BR
      X-Weatherapi-Qpm-Left:
      - '4999912'
      Cdn-Proxyver:
      - '1.34'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/05/2025 14:14:22'
      Cdn-Edgestorageid:
      - '1342'
      Cdn-Requestid:
      - b4c6ff76ba2574dd174b09d9efa24873
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Beverly Hills","region":"California","country":"USA","lat":34.0900993347168,"lon":-118.406997680664,"tz_id":"America/Los_Angeles","localtime_epoch":1757082174,"localtime":"2025-09-05
        07:22"},"current":{"last_updated_epoch":1757081700,"last_updated":"2025-09-05
        07:15","temp_c":18.3,"temp_f":64.9,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":3.4,"wind_kph":5.4,"wind_degree":167,"wind_dir":"SSE","pressure_mb":1011.0,"pressure_in":29.84,"precip_mm":0.0,"precip_in":0.0,"humidity":90,"cloud":100,"feelslike_c":18.3,"feelslike_f":64.9,"windchill_c":20.4,"windchill_f":68.7,"heatindex_c":20.4,"heatindex_f":68.7,"dewpoint_c":17.5,"dewpoint_f":63.6,"vis_km":16.0,"vis_miles":9.0,"uv":0.0,"gust_mph":5.7,"gust_kph":9.1,"short_rad":4.56,"diff_rad":2.08,"dni":2.91,"gti":3.32},"forecast":{"forecastday":[{"date":"2025-09-05","date_epoch":1757030400,"day":{"maxtemp_c":29.7,"maxtemp_f":85.5,"mintemp_c":19.6,"mintemp_f":67.3,"avgtemp_c":24.2,"avgtemp_f":75.5,"maxwind_mph":8.7,"maxwind_kph":14.0,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":65,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":2.1},"astro":{"sunrise":"06:30
        AM","sunset":"07:14 PM","moonrise":"06:18 PM","moonset":"04:05 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":91,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1757055600,"time":"2025-09-05
        00:00","temp_c":20.5,"temp_f":68.9,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.5,"wind_kph":7.2,"wind_degree":162,"wind_dir":"SSE","pressure_mb":1011.0,"pressure_in":29.85,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":81,"cloud":31,"feelslike_c":20.5,"feelslike_f":68.9,"windchill_c":20.5,"windchill_f":68.9,"heatindex_c":21.1,"heatindex_f":70.1,"dewpoint_c":16.9,"dewpoint_f":62.5,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.3,"gust_kph":11.7,"uv":0,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1757059200,"time":"2025-09-05
        01:00","temp_c":20.2,"temp_f":68.4,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":161,"wind_dir":"SSE","pressure_mb":1011.0,"pressure_in":29.85,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":84,"cloud[...]
