---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json/forecast.json?days=14&key=<WEATHER_API_KEY>&q=90210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - BR
      X-Weatherapi-Qpm-Left:
      - '4999943'
      Cdn-Proxyver:
      - '1.34'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/01/2025 00:14:36'
      Cdn-Edgestorageid:
      - '1159'
      Cdn-Requestid:
      - aeddfaf133ec55651fe4bc21f40d3e7c
      Cdn-Cache:
      - EXPIRED
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Beverly Hills","region":"California","country":"USA","lat":34.0900993347168,"lon":-118.406997680664,"tz_id":"America/Los_Angeles","localtime_epoch":1756685704,"localtime":"2025-08-31
        17:15"},"current":{"last_updated_epoch":1756685700,"last_updated":"2025-08-31
        17:15","temp_c":26.7,"temp_f":80.1,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":8.5,"wind_kph":13.7,"wind_degree":227,"wind_dir":"SW","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"humidity":49,"cloud":0,"feelslike_c":27.1,"feelslike_f":80.7,"windchill_c":29.2,"windchill_f":84.5,"heatindex_c":30.0,"heatindex_f":85.9,"dewpoint_c":16.8,"dewpoint_f":62.3,"vis_km":16.0,"vis_miles":9.0,"uv":1.8,"gust_mph":9.8,"gust_kph":15.7,"short_rad":793.76,"diff_rad":79.54,"dni":0.0,"gti":86.34},"forecast":{"forecastday":[{"date":"2025-08-31","date_epoch":1756598400,"day":{"maxtemp_c":31.0,"maxtemp_f":87.8,"mintemp_c":21.1,"mintemp_f":70.0,"avgtemp_c":25.5,"avgtemp_f":77.8,"maxwind_mph":9.2,"maxwind_kph":14.8,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":59,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":2.2},"astro":{"sunrise":"06:27
        AM","sunset":"07:20 PM","moonrise":"02:32 PM","moonset":"No moonset","moon_phase":"First
        Quarter","moon_illumination":47,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1756623600,"time":"2025-08-31
        00:00","temp_c":22.4,"temp_f":72.4,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.9,"wind_kph":4.7,"wind_degree":171,"wind_dir":"S","pressure_mb":1012.0,"pressure_in":29.87,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":71,"cloud":22,"feelslike_c":24.8,"feelslike_f":76.6,"windchill_c":22.4,"windchill_f":72.4,"heatindex_c":24.8,"heatindex_f":76.6,"dewpoint_c":16.7,"dewpoint_f":62.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":5.3,"gust_kph":8.5,"uv":0,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1756627200,"time":"2025-08-31
        01:00","temp_c":22.3,"temp_f":72.2,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":179,"wind_dir":"S","pressure_mb":1012.0,"pressure_in":29.88,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":73,"cloud":22,"feelslike_c":[...]
