---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json/forecast.json?days=5&key=<WEATHER_API_KEY>&q=90210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - BR
      X-Weatherapi-Qpm-Left:
      - '4999880'
      Cdn-Proxyver:
      - '1.34'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/06/2025 15:41:23'
      Cdn-Edgestorageid:
      - '1158'
      Cdn-Requestid:
      - 7ba0c8e17f2ed0616e5b89ad637ee596
      Cdn-Cache:
      - HIT
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Beverly Hills","region":"California","country":"USA","lat":34.0900993347168,"lon":-118.406997680664,"tz_id":"America/Los_Angeles","localtime_epoch":1757173295,"localtime":"2025-09-06
        08:41"},"current":{"last_updated_epoch":1757172600,"last_updated":"2025-09-06
        08:30","temp_c":19.4,"temp_f":66.9,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":164,"wind_dir":"SSE","pressure_mb":1015.0,"pressure_in":29.96,"precip_mm":0.0,"precip_in":0.0,"humidity":81,"cloud":75,"feelslike_c":19.4,"feelslike_f":66.9,"windchill_c":21.4,"windchill_f":70.5,"heatindex_c":22.5,"heatindex_f":72.5,"dewpoint_c":15.8,"dewpoint_f":60.4,"vis_km":11.0,"vis_miles":6.0,"uv":0.7,"gust_mph":3.8,"gust_kph":6.1,"short_rad":52.92,"diff_rad":14.26,"dni":50.96,"gti":35.04},"forecast":{"forecastday":[{"date":"2025-09-06","date_epoch":1757116800,"day":{"maxtemp_c":30.8,"maxtemp_f":87.4,"mintemp_c":19.2,"mintemp_f":66.6,"avgtemp_c":23.8,"avgtemp_f":74.9,"maxwind_mph":8.3,"maxwind_kph":13.3,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":64,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":2.1},"astro":{"sunrise":"06:31
        AM","sunset":"07:12 PM","moonrise":"06:49 PM","moonset":"05:14 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":96,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1757142000,"time":"2025-09-06
        00:00","temp_c":21.1,"temp_f":70.1,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":160,"wind_dir":"SSE","pressure_mb":1010.0,"pressure_in":29.83,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":74,"cloud":22,"feelslike_c":21.1,"feelslike_f":70.1,"windchill_c":21.1,"windchill_f":70.1,"heatindex_c":21.7,"heatindex_f":71.1,"dewpoint_c":16.2,"dewpoint_f":61.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.1,"gust_kph":11.4,"uv":0,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1757145600,"time":"2025-09-06
        01:00","temp_c":20.6,"temp_f":69.0,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":171,"wind_dir":"S","pressure_mb":1010.0,"pressure_in":29.83,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":75,"cloud":23,"feelslike_c"[...]
