---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json/forecast.json?days=1&key=<WEATHER_API_KEY>&q=90210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - BR
      X-Weatherapi-Qpm-Left:
      - '4999959'
      Cdn-Proxyver:
      - '1.34'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/02/2025 14:22:10'
      Cdn-Edgestorageid:
      - '1342'
      Cdn-Requestid:
      - fcf7713f4a2de8315da52e15fbea1813
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Beverly Hills","region":"California","country":"USA","lat":34.0900993347168,"lon":-118.406997680664,"tz_id":"America/Los_Angeles","localtime_epoch":1756822965,"localtime":"2025-09-02
        07:22"},"current":{"last_updated_epoch":1756822500,"last_updated":"2025-09-02
        07:15","temp_c":20.2,"temp_f":68.4,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":2.7,"wind_kph":4.3,"wind_degree":224,"wind_dir":"SW","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.0,"precip_in":0.0,"humidity":93,"cloud":50,"feelslike_c":20.2,"feelslike_f":68.4,"windchill_c":22.7,"windchill_f":72.8,"heatindex_c":23.7,"heatindex_f":74.7,"dewpoint_c":18.2,"dewpoint_f":64.8,"vis_km":14.0,"vis_miles":8.0,"uv":0.1,"gust_mph":4.9,"gust_kph":7.9,"short_rad":4.84,"diff_rad":2.38,"dni":2.86,"gti":3.62},"forecast":{"forecastday":[{"date":"2025-09-02","date_epoch":1756771200,"day":{"maxtemp_c":38.4,"maxtemp_f":101.1,"mintemp_c":20.7,"mintemp_f":69.3,"avgtemp_c":28.6,"avgtemp_f":83.5,"maxwind_mph":8.1,"maxwind_kph":13.0,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":54,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":2.1},"astro":{"sunrise":"06:28
        AM","sunset":"07:18 PM","moonrise":"04:19 PM","moonset":"12:54 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":66,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1756796400,"time":"2025-09-02
        00:00","temp_c":24.1,"temp_f":75.3,"is_day":0,"condition":{"text":"Cloudy
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/119.png","code":1006},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":142,"wind_dir":"SE","pressure_mb":1012.0,"pressure_in":29.87,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":68,"cloud":73,"feelslike_c":25.7,"feelslike_f":78.3,"windchill_c":24.1,"windchill_f":75.3,"heatindex_c":25.7,"heatindex_f":78.3,"dewpoint_c":17.6,"dewpoint_f":63.6,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":3.8,"gust_kph":6.2,"uv":0,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1756800000,"time":"2025-09-02
        01:00","temp_c":24.0,"temp_f":75.2,"is_day":0,"condition":{"text":"Cloudy
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/119.png","code":1006},"wind_mph":1.8,"wind_kph":2.9,"wind_degree":85,"wind_dir":"E","pressure_mb":1012.0,"pressure_in":29.88,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":69,"cloud":85,"feels[...]
[...]
