<% if data.present? %>
  <div class="mt-6 space-y-6">
    <!-- Current Weather Info -->
    <% if data["current"].present? %>
      <%= render partial: "current_weather", locals: { current: data["current"], cached: data["cached"], temperature_unit:, velocity_unit: } %>
    <% end %>

    <!-- Daily Forecast Cards -->
    <div class="forecast-daily-container">
      <h3 class="title">Daily Forecast</h3>
      <% data["forecast"].each_with_index do |day, index| %>
        <%= render partial: "daily_forecast", locals: { day:, today: index == 0, temperature_unit: } %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render partial: "no_weather_info_error" %>
<% end %>

